.navbar {
  min-height: 100px;
}

.nav-link {
  color: #000000 !important;
  font-family: 'PT Sans', sans-serif !important;
}

.dropdown-item {
  font-size: smaller;
  font-family: 'PT Sans', sans-serif !important;
}